@keyframes bounce {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  60% {
    opacity: 0.6;
    transform: translate(0, 3rem);
  }

  85% {
    opacity: 0.85;
    transform: translate(0, 1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 4rem);
  }
}