@font-face {
  font-family: "Hieu-Oswald-Regular";
  src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Hieu-Oswald-Bold";
  src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Hieu-Open-Sans";
  src: url(../fonts/Open-Sans/OpenSans-Regular.ttf);
}

* {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Hieu-Oswald-Regular", sans-serif;
  /* font-family: "Hieu-Open-Sans", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* 
By default, 1rem = 16px. If you want to customize the default rem value, define it in html element using the font-size attribute like such:
html {
  font-size: 80px;
}
*/

.container {
  max-width: 80rem;
  margin: auto;
  padding: 0 1rem;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .logo {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
}

.header .container .logo span {
  font-family: "Hieu-Oswald-Bold", sans-serif;
}

.header .navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
}

.header .navbar a:hover {
  color: #e62b4a;
}

.header .navbar a.active {
  color: #e62b4a;
}

/* FLEXBOX */
.header .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  /* Sắp xếp các phần tử con theo trục chính. */
  justify-content: space-between; /* flex-start, flex-end, space-between, center, space-around */
  /* Sắp xếp các phần tử con theo trục phụ. */
  align-items: center;
}

.carousel {
  background-image: url(../img/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  height: 40rem;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.carousel p {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.carousel p::before {
  content: "😃 ";
}

.carousel p::after {
  content: " 😃";
}

.carousel h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  /* line-height: 90px; */
}

.carousel button {
  background-color: #e62b4a;

  border: none;

  color: white;
  font-size: 1rem;
  
  margin-top: 1.25rem;
  padding: 0.75rem 2rem;
  
  cursor: pointer;
  transition: all 5s;
}

.carousel i {
  color: white;
  font-size: 1.75rem;
  margin-top: 1.25rem;

  animation-name: bounce;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
  animation-delay: 0s;
}

.service {
  background-color: black;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(to top, #000000 50%, #ffffff);
}

.service .container {
  padding: 5rem;
}

.service .container span {
  color: #e62b4a;
}

.service .container > h1 {
  color: white;
  font-size: 3rem;
}

.service p {
  color: #888;
  font-weight: bold;
  padding: 2rem;
}

.service .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.service .item {
  width: 20%;
  padding: 0 1rem;
}

.service .item .content {
  color: #848482;
  background-color: white;
  padding: 2rem;
  position: relative; 
}

.service .list .item .content::after {
  content: "";

  width: 0.25rem;
  height: 0;

  background-color: #e62b4a;

  position: absolute;
  top: 0;
  right: 0;

  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.service .list .item .content:hover::after {
  height: 100%;
}

.service .item .content h1 {
  font-size: 1rem;
}

.service .container .item .content i {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  font-size: 50px;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;  
}

.portfolio .list .item {
  width: calc(100% / 3);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.portfolio .list .item .content {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.portfolio .list .item .content img {
  width: 100%;
  /* filter: grayscale(100%) contrast(50%); */
  display: block;
}

.portfolio .container {
  padding: 5rem;
}

.portfolio .container span {
  color: #888;

  display: table;
  margin: 0 auto;
}

.portfolio .container > h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.portfolio .container > p {
  color: #888;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.portfolio header {
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio .list .item .content {
  position: relative;
}

.portfolio .list .item .content .detail {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  top: 0;
  left: 0;

  padding: 1rem;

  display: flex;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear 0s;
}

/* Display the .detail block on mouse hover over .contect block: */
.portfolio .list .item .content:hover .detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 1;
  visibility: visible;
}

.portfolio .list .item .content .detail .icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  transform: translate(0, 1rem);

  transition: all 0.2s linear 0s;
}

.portfolio .list .item .content:hover .detail .icons {
  transform: translate(0, 0);
}

.portfolio .list .item .content .detail .icons i {
  width: 2.5rem;
  height: 2.5rem;

  background-color: #ffffff;

  margin-bottom: 0.5rem;

  text-align: center;
  /* line-height: 2.5rem; */

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio .list .item .content .detail .icons i:hover {
  color: #ffffff;
  background-color: black;
}

.portfolio .list .item .content .detail .info p {
  color: #d0c7c8;
  font-size: 0.875rem;
  font-weight: 600;
}

.portfolio .list .item .content .detail .info h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
}

.post {
  background-color: #f3f3f3;
}

.post .container span {
  color: #888;

  display: table;
  margin: 0 auto;

  padding-top: 5rem;
}

.post .container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.post .container p {
  color: #888;
  text-align: center;
  font-weight: bold;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* GRID */
.post .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 1rem; */
}

.post .list .item .content img {
  width: 100%;
  display: block;
  transform: scale(1);

  transition: all 0.5s linear;
}

.post .list .item .content:hover img {
  transform: scale(1.25);
}

.post .list .item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.post .list .item:last-child {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.post .list .item .content figure {
  position: relative;
}

.post .list .item .content figcaption {
  position: absolute;
  bottom: 3rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  z-index: 20;
}

.post .list .item .content {
  position: relative;
  overflow: hidden; /* Những phần nào nằm ngoài .content sẽ bị ẩn đi (hidden) */
}

.post .list .item .content .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.experience {
  background-image: url(../img/bussiness_img_1.jpg);
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 50rem;
}

.contact .form {
  margin-bottom: 4rem;
}

.header .navbar-toggle {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

/* Small tablets */
@media screen and (max-width: 768px) {
  .header .navbar {
    display: none;
  }

  .portfolio .list .item {
    width: 50%;
  }

  .post .list {
    grid-template-columns: 1fr 1fr;
  }

  .post .list .item:first-child,
  .post .list .item:last-child {
    grid-column: initial;
    grid-row: initial;
  }
}

/* Mobile phones */
@media screen and (max-width: 576px) {
  /* CSS code for 576px wide screens */
  .header .navbar {
    display: none;
  }

  .header .navbar-toggle {
    display: block;

    background-color: #ffffff;
    padding: 0.75rem 1rem;
    border: none;

    color: #e62b4a;
    font-size: 1.2rem;
  }

  .carousel p {
    font-size: 1.5rem;
  }

  .carousel h1 {
    font-size: 3rem;
  }

  .service .list {
    flex-wrap: wrap;
  }

  .service .item {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  /* .portfolio .list {
    flex-wrap: wrap;
  } */

  .portfolio .list .item {
    width: 100%;
    padding: 0;
  }

  .post .list {
    display: block;
  }
}